.nav-bar-wrap {
    height: 60px !important;
}

p {
    margin-bottom: 0;
}

.nav-bar {
    max-width: 1440px !important;
    width: 100%;
    margin: 0 auto !important;
    height: 100%;
    padding: 0 30px;
    align-content: center;
    display: flex;
    justify-content: space-between;
}

.nav-bar-menu-wrap {
    align-content: center;
    justify-content: flex-end;
    width: fit-content !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.logo-with-ribbon {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.ribbon {
    font-weight: 600;
    margin: 0 10px !important;
}

.ribbon:hover {
    color: rgb(173, 1, 1);
    cursor: pointer;
}

.form-control {
    width: 500px;
    height: 35px;
}

.shoppint-cart {
    margin: 0 15px;
}

.shoppint-cart:hover {
    cursor: pointer;
}

.menu-item {
    align-items: center !important;
}

.nav-bar-menu {
    margin-right: 0rem;
}


.nav-bar-logo {
    height: 100% !important;
    margin-left: 0 !important;
    margin-right: 10px;
    width: fit-content !important;
}

.nav-bar-menu {
    width: 150px !important;
}

.img-full-width-1 {
    height: 100%;
    padding: 5px 0;
}


.title-page-3d {
    font-size: 60px;
    margin: 0;
    text-align: center;
}

.sub-title-page-3d {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.cad-page {
    padding-top: 62px;
    background-color: white;
    color: black;
    height: fit-content !important;

}

.header-banner {
    height: 160px;
    width: 100%;
    /* background: url("./img/back5.jpg"); */
    background-repeat: no-repeat;
    color: #1858A8;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.header-banner .discription {
    max-width: 1000px;
    padding: 0 10px;
    font-size: 19px;
}


.full-content {
    max-width: 1440px;
    padding: 0 30px;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.full-content-left {
    width: 75%;
    padding-left: 20px;
}

.header-left-content {
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.header-left-content .tile-cate {
    font-size: 25px;
    color: #1858A8;
}

.header-left-content p {
    font-size: 14px;
    margin-left: 10px;
}

.view-all {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.view-all p {
    margin-right: 4px;
    font-weight: 600;
    color: #1c88bb;
    text-decoration: underline;
}

.view-all p:hover {
    color: rgb(180, 6, 6);
    cursor: pointer;
}

.content-left-models {
    margin-top: 15px;
    padding-left: 0 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.model-job-all {
    width: 32%;
    height: 220px;
    margin-bottom: 35px;
    background-color: white;
    box-shadow: 3px 3px 20px #c2c2c2;
    transition: ease-in-out 0.1s;
    border-radius: 3px;
    border: 1px solid black;
}

.model-job-all:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 3px 3px 20px #97deff;
}

.model-img {
    height: 180px;
    width: 100%;
}

.model-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.model-text {
    height: 38px;
    display: flex;
    padding: 0 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #505050;
    color: white;
}

.avatar-name {
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.avatar-name img {
    height: 20px;
    object-fit: cover;
    margin-right: 5px;
}

.avatar-name p {
    font-weight: 600;
}

.rating-model {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.rating-model p {
    margin: 0 4px;
}

.full-content-right {
    width: 25%;
    padding: 0 10px;
    border-right: 2px solid #adadad;
}

.related-tag {
    background-color: #f3f3f3;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    padding: 20px;
    font-size: 14px;
    line-height: 1.3em;

    box-shadow: 0 1px 5px 0 rgb(85 85 85 / 15%);
    box-shadow: 0 1px 5px 0 rgb(85 85 85 / 15%);
}

.related-tag.gray {
    background-color: #dedede;

}

.filter-list {
    display: flex;
    flex-direction: column;
}

.filer-type {
    height: 35px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid gray;

    margin: 5px 0;
    transition: ease-in-out 0.1s;
}

.filer-type p {
    color: #1858A8;
}



.filer-type:hover {
    cursor: pointer;
    font-weight: 600;
    background-color: #e9e9e9;
    /* transform: scale(1.02); */
}

.sidebar-title {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: black;
    text-transform: uppercase;
}

.tag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag-item {
    margin-right: 12px;
    margin-bottom: 10px;
    height: 30px;
    background-color: rgb(221, 221, 221);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-item:hover {
    cursor: pointer;
    background-color: rgb(156, 156, 156);
}

.tag-item:hover p {
    font-weight: 600;
}

.tag-item p {
    margin: 0 12px;
}

.store-box {
    height: 150px;
    margin: 20px 0;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgb(85 85 85 / 15%);
    background: linear-gradient(45deg, #a60b43, #f42671);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.1s;
}

.store-box:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.store-box p {
    font-size: 35px;
    color: white;
    font-weight: 600;
}

.contributor-all {
    margin-bottom: 10px;
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

}

.contributor-all .avatar-name img {
    height: 90% !important;
    margin-right: 10px;
}

.folow-btn {
    height: 100%;
    background-color: #1caad9;
    width: 90px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
}

.folow-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.folow-btn p {
    color: white;
    font-weight: 600;
}

.modal-dialog {
    max-width: 1500px;
    height: 750px;
    background-color: white;
}

.modal-content {
    height: 100%;
}

.modal-title {
    font-weight: 600;
}

#view-model-3d {
    width: 78%;
    height: 100%;
    background-color: #373434;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-model {
    color: white;
    font-size: 30px;
    text-align: center;
}

.modal-body {
    display: flex;
    flex-direction: row;
}

.payment-method {
    width: 22%;
    height: 100%;
    padding-left: 20px;
}

.payment-border {
    border: 1px solid rgb(177, 177, 177);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.money-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 20px;
}

.money-cart .money {
    font-size: 40px;
    font-weight: 600;
    color: #1c88bb;
}

.infor-detail {
    display: flex;
    flex-direction: row;
    color: rgb(88, 88, 88);
    font-size: 14px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.infor-detail p {
    margin-left: 10px;
}

.money-add-cart {
    margin: 20px 0;
    height: 60px;
    width: 100%;
    background-color: #df1660;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.money-add-cart:hover {
    cursor: pointer;
}

.money-add-cart p {

    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.inspect-review {
    margin-top: 10px;
    border-bottom: 1px solid gray;
}

.c-payment-solutions {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #555;
}

.c-payment-solutions__image.--card-visa {
    background-image: url(./img/pay/visa.svg);
}

.c-payment-solutions__image.--card-mastercard {
    background-image: url(./img/pay/mas.svg);
}

.c-payment-solutions__image.--card-amex {
    background-image: url(./img/pay/m2.svg);
}

.c-payment-solutions__image.--paypal {
    background-image: url(./img/pay/pay.svg);
}

.c-payment-solutions__image {
    display: inline;
    height: 21px;
    width: 42px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.c-payment-solutions__image:hover {
    cursor: pointer;
}

.via {
    margin: 0 5px;
}

.inspect-model {
    background-color: rgb(209, 209, 209);
    height: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.inspect-model-text {
    height: 40px;
    width: 100%;
    background-color: #0198fc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspect-model-text p {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.category-model {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3% 2% 3%;
}

.category-model img {
    width: 100%;
    object-fit: cover;
    border: 2px solid gray;
    box-shadow: 0 2px 8px 0 rgb(85 85 85 / 15%);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.category-model:hover img {
    transform: scale(1.05);
}

.category-model:hover a {
    font-weight: 600;
    color: rgb(156, 0, 0);
}

.category-model a {
    margin-top: 10px;
    color: #1858A8;
}

.text-hover:hover {
    font-weight: 600;
    color: rgb(156, 0, 0);
}