body,
html {
    font-family: calibri;
}

.cad-page {
    padding-top: 10vh;
    width: 100%;
    height: 100vh;
}

.cad-heading {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-title {
    font-size: 4.5rem;
    font-weight: 100;
}

.heading-subtitle {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.heading-btn {
    margin-top: 3rem;
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DBDBDB;
    border-color: #DBDBDB;
    color: #002060;
}

.heading-btn:hover {
    background-color: #bbb7b7;
    border-color: #bbb7b7;
    color: #0e2d69;
}

.cad-body {
    height: 50vh;
    width: 100%;
}

.body-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-item {
    width: 17rem;
    height: 17rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.body-item:hover {
    transition: .5s;
    transform: scale(1.1);
}